name: Build Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Retrieve the codes from the repository
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Set up Docker on the GitHub runner
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # 3. Try to build the Docker image
    - name: Build Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: stairvision-dashboard:latest